<div class="reviews">
  {{#each stars}}
    <i class="{{this}}"></i>
  {{/each}}
  {{#unless stars}}
  <label>Be the first to review!</label>
  {{/unless}}
</div>

<p>
  {{downloads}} <i class="icon-download-alt" title="{{downloads}} downloads"></i> and {{reviews}} <i class="icon-comments" title="{{reviews}} reviews"></i>
</p>

{{#if listed}}
  <a id="download" href="#" data-bypass class="btn btn-primary">
    {{#if free}}
      Download Free
    {{else}}
      Buy  {{price}}
    {{/if}}
  </a>
{{/if}}

{{#if entitled}}
  <a id="download" href="#" data-bypass class="btn btn-primary">Download</a>
{{/if}}

{{#if paused}}
  <div class="progress two progress-warning progress-striped">
    <span class="status">Paused... {{progress}}%</span>
    <div class="bar" style="width:{{progress}}%"></div>
  </div>
{{/if}}

{{#if processing}}
  <div class="progress two progress-info progress-striped">
    <span class="status">Processing... {{progress}}%</span>
    <div class="bar" style="width:{{progress}}%"></div>
  </div>
{{/if}}

{{#if downloading}}
  <div class="progress two progress-success progress-striped">
    <span class="status">Downloading... {{progress}}%</span>
    <div class="bar" style="width:{{progress}}%"></div>
  </div>
{{/if}}

{{#if installing}}
  <div class="progress two progress-danger progress-striped">
    <span class="status">Installing... {{progress}}%</span>
    <div class="bar" style="width:{{progress}}%"></div>
  </div>
{{/if}}

{{#if installed}}
  <a id="launch" href="#" data-bypass class="btn btn-primary">Launch &nbsp; <i class="icon-play" title=""></i></a>
{{/if}}
